@model string;

<div style="position: fixed; right: 25px; z-index: 1" class="text-white">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> New</a>
</div>